body {
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: blue;
    display: block;
}

nav a:hover{
    background-color: #fff;
    color: #4a4a4f;
}

.card {
    float: left;
    width: 20%;
    margin-left: 5%;

}

.card a{
    text-align: center;

}

img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}